:root {
    --primary-color: #0e0f15;
    --sub-primary-color: #1c1d22;
    --secondary-color: #a41917;
    --accent-color: #7df8b0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

.side {
    flex: 1;
    padding: 4rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.main {
    flex: 3;
    padding: 4rem;
    background-color: var(--sub-primary-color);
    color: var(--accent-color);
}